{% if include.url %}
{% capture applet %} {% include_relative {{include.url}} %} {% endcapture %}
{% endif %}
{% capture _ %}{% increment appletindex %}{% endcapture %}
<div>{{ applet | remove: "<!DOCTYPE html>" | split: "/style>" | last
| remove: '<script type="text/javascrpt" src="http://cinderella.de/CindyJS/latest/Cindy.js"></script>'
| remove: '<script type="text/javascript" src="https://cindyjs.org/dist/v0.8/Cindy.js"></script>'
| remove: '<link rel="stylesheet" href="https://cindyjs.org/dist/v0.8/CindyJS.css" />'
| remove: '<link rel="stylesheet" href="https://cindyjs.org/dist/v0.8/CindyJS.css">'
| replace: '<script type="text/javascript" src="https://cindyjs.org/dist/v0.8/Cindy3D.js"></script>', '<script type="text/javascript" src="BASEPATH/deploy/Cindy3D.js"></script>' 
| replace: 'BASEPATH', site.baseurl
| remove: "<html>" | remove: "<head>" | remove: "<body>" | remove: "</body>" | remove: "</head>" | remove: "</html>"
| replace: 'CSCanvas', 'CSCanvasTHENUMBER'
| replace: 'scripts: "cs*', 'scripts: "csTHENUMBER*'
| replace: '"scripts": "cs*"', '"scripts": "csTHENUMBER*'
| replace: 'script id="cs', 'script id="csTHENUMBER'
| replace: "THENUMBER", appletindex
}}</div>
