---
layout: default
---

<div class="navigationshortcuts">
  {% assign gotIt = 0 %}
  {% for item in site.data.navigation.Navigation %}{% if item.category == page.category %}
    {% assign i = 0 %}{% for chapter in item.chapters %}{% assign j = 0 %}
      {% for topic in chapter.topics %}{% if gotIt == 0 %}{% if topic.url == page.url %}{% assign gotIt = 1 %}
      {% if j == 0 %}
          {% assign prevChapter = i | minus: 1 %}
            {% if i != 0 %}
              <a title="Strg+Alt+J" href="{{item.chapters[prevChapter].topics.last.url}}" accesskey="j">Previous &#8678;</a>
            {% endif %}
      {% else %}
          {% assign prev = j | minus: 1 %}
            <a title="Strg+Alt+J" href="{{chapter.topics[prev].url}}" accesskey="j">Previous &#8678;</a>
      {% endif %}
      {% assign next = j | plus: 1 %}
      {% if chapter.topics[next] %}
        <a title="Strg+Alt+L" href="{{chapter.topics[next].url}}" accesskey="l">&#8680; Next</a>
      {% else %}
        {% assign nextChapter = i | plus: 1 %}
        {% if item.chapters[nextChapter] %}
          <a title="Strg+Alt+L" href="{{item.chapters[nextChapter].topics[0].url}}" accesskey="l">&#8680; Next</a>
        {% endif %}
      {% endif %}

    {% endif %}{% endif %}{% assign j = j | plus: 1 %}{% endfor %}{% assign i = i | plus: 1 %}{% endfor %}{% endif %}{% endfor %}

</div>


<div id="pagecontent">
    <div class="sidecontent">
        <input id="hamburger" type="checkbox">
        <label for="hamburger"><img src='/images/hamburger.png' alt="hamburger" "></label>
        <aside class="sidemenu">
            <div class="tab-group">
                <ul class="sidemenulist">
                  <li><a class="homelistitem" href="/">MatheVital Home</a></li>
                  {% for item in site.data.navigation.Navigation %}{% if item.category == page.category %}{% assign foundPage = 0 %}
                  <li><a class="currchapter" href="{{item.url}}">{{item.title}}</a></li>
                  {% assign i = 0 %}{% for chapter in item.chapters %}{% assign i = i | plus: 1 %}
                    <div class="tab">
                      {% for topic in chapter.topics %}{% if topic.url == page.url %}{% assign foundPage = 1 %}
                        <input id="tab-{{i}}" checked="checked" type="radio" name="tabs">
                        {% else %}
                        <input id="tab-{{i}}" type="radio" name="tabs">
                        {% endif %}{% endfor %}
                        <label for="tab-{{i}}" >{{chapter.title}}</label>
                          {% for topic in chapter.topics %}
                              <div class="tab-content">
                                  {% if topic.url == page.url %}
                                      <li><a class="currlistitem" href="{{topic.url}}">{{topic.title}}</a></li>
                                  {% else %}
                                      <li><a href="{{topic.url}}">{{topic.title}}</a></li>
                                  {% endif %}
                              </div>
                          {% endfor %}
                      </div>
                  {% endfor %}{% endif %}{% endfor %}
                </ul>
          </div>
      </aside>
    </div>
        
    <div class="maincontent">
      <div class="maincontentcontent">
        {{content}}
      </div>
    </div>
</div>
